* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

.margin_container {
    margin: 0rem 5rem;
}


.topandmain {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 2px 3px 5px black;
}


.top_section {
    background: rgb(218, 218, 218);
    height: 5vh;
}


.top {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;


}

.top ul {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

.top ul li a {
    text-decoration: none;
    color: red;
    border-right: 1px solid black;
    padding-right: 0.2rem;
    transition: 0.2s ease-in-out;


}

.top a :hover {
    color: black;
    transition: 0.2s ease-in-out;
}


.top div {
    display: flex;
    gap: 1rem;
}

.top div a {
    color: red;
}

.top button {

    padding: 5px 5px;
    font-size: 11px;
    letter-spacing: 1px;
    margin-top: -0.3rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    background-color: red;
    transition: 0.3s ease-in-out;

}

.top button:hover {
    color: rgba(0, 0, 0, .1);
    color: white;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 4px 5px black;
}

/* top section End */

/* nav bar section start */

.nav_section {
    height: 7vh;
    background: linear-gradient(45deg, rgb(226, 14, 14), black);


}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 0.4rem;
    align-items: center;

}

.navbar div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar div i {
    font-size: 35px;
    color: white;
}

.navbar div h1 {
    font-size: 25px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}



.navbar ul {
    list-style: none;
    display: flex;
    gap: 40px
}

.navbar ul li {
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;


}

.navbar ul li:hover {
    transition: 1s ease-in-out;
    text-decoration: underline;

}

.navbar button {
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;

}



.navbar button input {
    padding: 5px;
    border: none;
    background: transparent;

}

.navbar button input:focus {
    border: none;
    outline: none;
}

/* navbar end */

/* main section start */



.main {
    box-shadow: inset 3px 4px 9px 1px black;
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(3, 5, 20, 0.7), rgba(3, 5, 30, 0.7)), url(image/main_background\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12rem 10rem 0rem 10rem;
    gap: 1rem;
}

.main h3 {
    font-size: 35px;
    color: white;
}

.main h1 {
    font-size: 50px;
    color: white;
}

.main p {
    font-size: 16px;
    color: white;
}

/* Main section End */

/* grid_section start */

.grid_section {
    background: linear-gradient(to left, rgb(226, 14, 14), black);
    box-shadow: 3px 4px 9px black;

}

.grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    text-align: center;



}

.grid_item {
    padding: 1rem 2rem;
    border: 1px solid black;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 5rem;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    background: white;

}

.grid_item:hover {
    transform: scale(1.06);
    transition: 0.5s ease-in-out;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.6);
    cursor: pointer;


}

.grid_item p {
    font-size: 13px;
    margin-top: 1rem;
}

/* grid section end */

.about_section {
    box-shadow: inset 3px 4px 9px 1px black;
    box-shadow: 3px 4px 9px 1px black;

}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
    margin-bottom: 1.5rem;


}

.about_content {
    max-width: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about_content h3 {
    background: linear-gradient(45deg, rgb(226, 14, 14), black);
    border-radius: 5px;
    padding: 5px 10px;
    max-width: 30%;
    color: white;
}

.about_content h1 {
    font-size: 30px;

}



.about img {
    width: 30%;
}

/* about section end */

/* services section start  */


.services {
    text-align: center;
    font-size: 30px;
    background: linear-gradient(45deg, rgb(226, 14, 14), black);
    padding: 0.4rem 0rem;
    width: 20%;
    color: white;
    border-radius: 15px;
    margin: 0rem auto;
}

.work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1110px;
    margin: 10px auto;
    padding-bottom: 20px;


}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;

}

.card:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.6);
}

.img_content img {
    background: center;
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    height: 150px;
}

.card_content {
    padding: 10px;
    margin-top: 5px;
}

.card_content h2 {
    font-size: 22px;
    text-align: center;
    filter: drop-shadow(2px 1px 5px gray);
}

.card_content p {
    margin-top: 5px;
    font-weight: 400;
    font-size: 13px;
}

/* services section end  */


/* contact us start  */
.contect_section {
    box-shadow: inset 2px 3px 5px black;
    padding: 20px;
}

.contect_section h2 {
    text-align: center;
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 10px;
}



.img img {
    width: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20rem;
}

.contact_form form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.contact_form form input,
textarea {
    /* margin: rem; */
    padding: 10px 10px;
    border-radius: 1rem;
    border: .1rem solid gray;
    /* outline: none; */

}

.btn_send {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 0.4rem 0rem;
    width: 20%;
    color: black;
    border-radius: 15px;
    border: none;
    background-color: red;
    margin: 0rem auto;
}

.btn_send:hover {
    color: rgba(0, 0, 0, .1);
    color: white;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 4px 5px black;
}


/* contact us end */
footer h3 {
    text-align: center;
    background-color: gray;
    padding: 3px;
    font-weight: 400;
}